<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/header"></th:block>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <th:block th:include="fragments/sidebarLeft"></th:block>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <th:block th:include="fragments/navbar"></th:block>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Content Row -->
          <div class="row">
            <!-- List of Tasks-->
            <th:block th:include="tasks/tasks"></th:block>

            <!-- New Task -->
            <th:block th:include="tasks/newTask"></th:block>

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <th:block th:include="fragments/footer"></th:block>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <th:block th:include="fragments/scripts"></th:block>

</body>

</html>
